* {
  font-family: arial;
  font-size: 15px;
}
body{
  min-width: 1000px;
  min-height: 1000px
}
.top{
  font-size: 25px
}
#gamesavedtext{
  opacity:0 ;
  text-align: right;
}

.tabbuttons{
 display: inline;
 width: 10%;
}
.leftpart{
  width: 50%;
}
.dimlayers, .expansionprestige, .timeprestige{
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 0.5%;
}
.tabs .layers .leftpart .left{
  text-align: left;
  display: inline-block;
  width: 20%;
}
.tabs .layers .leftpart .center{
  text-align: center;
  display: inline-block;
  width: 40%;
}
.tabs .layers .leftpart .right{
  text-align: center;
  display: inline-block;
  width: 35%;
}
.tabs .layers .leftpart .dimlayers:hover, .expansionprestige:hover, .timeprestige:hover{
  background-color: #dddddd;
}
#dimlayer2, #dimlayer3, #expansion, #buymax, #autobuymax, #timeprestige{
  display: none;
}
#buymax{
  margin: 5px;
}


.tabs .options{
  display: none;
}

.optionsbutton{
  width:15%;
  height:10%;
  padding:10px;
  text-align: center;
}
.footer {
  font-size: 30px;
  position: fixed;
  margin-left: 5px;
  bottom: 0;
  margin-bottom: 5px;
}
