* {
  font-family: arial;
  font-size: 15px;
}
body{
  min-width: 1000px;
  min-height: 1000px
}
button{
  background-color:#e7e7e7;
  color:black;
  border-radius: 4px;
  border: 3px solid grey;
  transition-duration: 0.3s;
}
button:hover{
  background-color: #aaaaaa;
  cursor: pointer
}


.TopBarCurrency{
  font-size: 30px;
  display:inline-block
}

.tabbuttons{
  font-size: 17px;
}
.tabbuttons:hover{
  background-color:#232323;
  color:white;
}

#timeprestige2{
  width:75%;
  height: 60px;
  background-color:black;
  color:blue;
  border-radius: 4px;
  border: 3px solid darkblue;
  transition: background-color 0.3s, color 0.3s, visibility 0s;
}
#timeprestige2:hover{
  background-color:white;
  color:black;
}


#gamesavedtext{
  opacity:0 ;
  text-align: right;
}




/* layers */
.leftpart{
  width: 50%;
}
.dimlayers, .expansionprestige, .timeprestige, .TimeUpgrades{
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 0.5%;
}
.layers .leftpart .dimlayers .left, .layers .leftpart .expansionprestige .left, .layers .leftpart .timeprestige .left{
  text-align: left;
  display: inline-block;
  width: 20%;
}
.layers .leftpart .dimlayers .center, .layers .leftpart .expansionprestige .center, .layers .leftpart .timeprestige .center{
  text-align: center;
  display: inline-block;
  width: 40%;
}
.layers .leftpart .dimlayers .right, .layers .leftpart .expansionprestige .right, .layers .leftpart .timeprestige .right{
  text-align: center;
  display: inline-block;
  width: 35%;
}
.tabs .layers .leftpart .dimlayers:hover, .expansionprestige:hover, .timeprestige:hover{
  background-color: #dddddd;
  cursor: pointer;
}
#dimlayer2, #dimlayer3, #expansion, #buymax, #autobuymax, #autoexpansion, #timeprestige{
  display: none;
}

.automationButtons{
  margin: 3px;
}

/* time prestige */
/* time amount 2 at top bar */
#timeamount, #timeamount2{
  font-size: 25px;
  color: DarkBlue
}

#TimeUpgradesTier2, #TimeUpgradesTier3, #TimeUpgradesTierQOL{
  display: none;
}


.tabs .layers .leftpart #time-prestige-section .TimeUpgrades .left{
  text-align: left;
  display: inline-block;
  width: 60%;
}

.tabs .layers .leftpart #time-prestige-section .TimeUpgrades .right{
  text-align: center;
  display: inline-block;
  width: 35%;
}
.TimeUpgrades:hover{
  background-color: #dddddd;
}



.tabs .milestones, .tabs .options{
  display: none;
}

.optionsbutton{
  width:15%;
  height:10%;
  padding:10px;
  text-align: center;
}

#exportfailsave{
  display: none;
}

.footer {
  font-size: 30px;
  position: fixed;
  margin-left: 5px;
  bottom: 0;
  margin-bottom: 5px;
}
