* {
  font-family: arial;
  font-size: 15px;
}
body{
  min-width: 1000px;
  min-height: 1000px
}
.top{
  font-size: 25px
}
.tabbuttons{
 display: inline;
 width: 10%;
}
.dimlayers, .expansionprestige{
  width: 50%;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 0.5%;
}
.tabs .layers .left{
  text-align: left;
  display: inline-block;
  width: 20%;
}
.tabs .layers .center{
  text-align: center;
  display: inline-block;
  width: 40%;
}
.tabs .layers .right{
  text-align: center;
  display: inline-block;
  width: 35%;
}
.tabs .layers .dimlayers:hover, .expansionprestige:hover{
  background-color: #dddddd;
}
#dimlayer2, #dimlayer3, #expansion{
  display: none;
}

.tabs .options{
  display: none;
}
